<h1>Deaths</h1>

<table>
  <thead>
    <td>provinceState</td>
    <td>countryRegion</td>
    <td>lastUpdate</td>
    <td>lat</td>
    <td>long</td>
    <td>deaths</td>
    <td>active</td>
    <td>admin2</td>
    <td>fips</td>
    <td>combinedKey</td>
    <%# <td>incidentRate</td>
    <td>peopleTested</td>
    <td>peopleHospitalized</td>
    <td>uid</td>
    <td>iso3</td>
    <td>iso2</td> %>
  </thead>
  <tbody>
  <% @deaths.each do |death| %>
    <tr>
      <td><%= death['provinceState'] %></td>
      <td><%= death['countryRegion'] %></td>
      <td><%= Time.at(death['lastUpdate'].to_i/1000).strftime('%d/%m/%Y %H/%M/%S') %></td>
      <td><%= death['lat'] %></td>
      <td><%= death['long<'] %></td>
      <td><%= death['deaths'] %></td>
      <td><%= death['active'] %></td>
      <td><%= death['admin2'] %></td>
      <td><%= death['fips'] %></td>
      <td><%= death['combinedKey'] %></td>
      <!-- <td><%= death['incidentRate'] %></td>
      <td><%= death['peopleTested'] %></td>
      <td><%= death['peopleHospitalized'] %></td>
      <td><%= death['uid'] %></td>
      <td><%= death['iso3'] %></td>
      <td><%= death['iso2'] %></td> -->
    </tr>
  <% end %>

  </tbody>
</table>
